* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menuContent {
  margin: 10px 15px 20px 15px;
  background-color: gray;
  border: 2px solid black;
}

.titleContent{
  margin-left: calc(100% - 150px);
  width: 150px;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid black;
}

.chicken {
  background-color:#f18e92;
}

.beef {
  background-color: #c40d4b;
  color: white;
}

.sushi {
  background-color: #e9bc72;
}

.details {
  padding: 10px;
}
