body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: #a0a0a0;
  border: 0;
  margin-bottom: 0;
}
.navbar-brand h1 {
  font-size: 1.5em;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  text-align: center;
  color: #000000;
}

/* MAIN */
h2 {
    text-align: center;
}
.menuContent {
  margin: 10px 15px 20px 15px;
  border: 2px solid black;
}
.titleContent{
  font-size: 1.25em;
  text-align: center;
}
#main-content .menuContent {
  background-color: #a0a0a0;
}
.details {
  padding: 10px;
}

/********** Extra small devices only **********/
@@media (max-width: 767px) {
  #header-nav .navbar-toggle {
    background-color: #a0a0a0;
    border: 2px solid #bbb;
  }
  #header-nav .navbar-toggle .icon-bar {
    background-color: #bbb;
    height: 4px;
  }
  #collapsable-nav {
    background-color: #ffffff;
  }
  #nav-list {
    border: solid 1px #000;
    margin-top: 0;
  }
  #nav-list .nav-item {
    border: solid 1px #000;
  }
}
